<!DOCTYPE html>
<head>
</head>
<body>
  <h1>Testing</h1>
  <form id = 'registration' action = '/registration' method = 'post'>
    <label for= 'name'> Name:<input type = 'text' name = 'name' id = 'name'></label>
    <label for 'location'>Location:<input type = 'text' name = 'location' id = 'location'></label>
    <label for 'language'>Favorite Language:<input type = 'text' name = 'language' id = 'language'></label>
    <lable for 'comment'>Comment:<input type = 'text' name = 'comment' id = 'comment'></label>
  <input type="submit" value="Register">
</body>
