*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#box{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding:100px;
  font-size: 24px;
  background-color: silver;
  width: 500px;
  align-content: center;
}
