<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>Layouts</title>
    <link rel = "stylesheet" style = "text.css" href = "layouts.css">
  </head>
  <body>
    <div id = "head">
      <h1>Header</h1>
      <h2>Sub header</h2>
    </div>
    <div id = "nav">
      <ul>
        <li>home</li>
        <li>about</li>
        <li>contact us</li>
        <li>videos</li>
        <li>pricing</li>
        <li>something</li>
        <li>somthing else</li>
        <li>last thing</li>
      </ul>
    </div>
    <div class = "bar">
      <h2>Bar 1 head</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor sapien in tortor elementum posuere. Cras non leo nulla. Cras quis mauris id metus porttitor mollis. Morbi sit amet magna non augue luctus pharetra eu vitae enim. Vestibulum aliquet sapien purus, in facilisis erat malesuada sed. Pellentesque ac velit tellus. Curabitur venenatis massa et nisl auctor bibendum. Donec nibh lorem, efficitur tincidunt mi a, pretium sollicitudin dui. Etiam diam mi, luctus et erat ut, commodo mollis massa. Integer varius arcu quis odio semper dapibus.</p>
    </div>
    <div class = "bar">
      <h2>Bar 2 head</h2>
      <p>Maecenas ullamcorper ligula leo, sit amet tincidunt magna faucibus id. In a porta mi. Praesent dignissim libero tempor vehicula gravida. Curabitur dolor nisl, consequat at nulla ut, finibus ornare arcu. Integer sit amet velit tincidunt, molestie risus quis, laoreet augue. Pellentesque et felis ut augue tincidunt consequat. Nullam eu felis at mauris mattis molestie. Nunc vel purus vitae elit aliquet eleifend nec et libero. Morbi hendrerit dictum lectus, quis laoreet quam congue quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed efficitur sem ut odio semper rutrum. Curabitur id rhoncus libero, eget aliquet lorem. Nullam vulputate lacus in sem mattis, nec efficitur neque venenatis. Morbi sit amet metus in erat tincidunt finibus.</p>
    </div>
    <div class = "bar">
      <h2>Bar 3 head</h2>
      <p>Nunc semper orci sit amet enim finibus eleifend. Praesent tristique ut ligula non lacinia. Curabitur malesuada ex sodales arcu tincidunt, pulvinar euismod enim facilisis. Fusce cursus risus rutrum, accumsan quam in, aliquet velit. Ut et dolor turpis. Nam ullamcorper libero lorem, ac fringilla sapien auctor a. Morbi venenatis, ante a condimentum sollicitudin, sem felis venenatis tellus, in varius orci diam a nisl. Duis vel ligula nisi. Nullam faucibus est bibendum, volutpat mauris eu, vehicula quam. Aliquam arcu elit, porta non vehicula ut, luctus tincidunt ex. Sed eleifend diam nibh, sodales sagittis ipsum tincidunt id. Fusce maximus, enim sed rutrum tempor, ligula sem tincidunt justo, non fringilla erat ipsum et neque.</p>
    </div>
    <div class ="bar x">
      <h2>Bar 4 head</h2>
      <p>Mauris ac laoreet odio. Sed iaculis, sem sit amet sollicitudin iaculis, enim nunc mattis tellus, ut tempus massa purus quis lorem. Nam aliquet diam non nibh tincidunt dapibus. Duis id facilisis nisl. Maecenas dui ante, gravida in elementum eget, pellentesque eu massa. Proin imperdiet fringilla eros sit amet tincidunt. Mauris mollis faucibus justo, eget porta purus consectetur ac. Mauris ac gravida mauris. Quisque sed risus semper, porta nisi vitae, molestie diam. Aliquam maximus varius ullamcorper. Nulla faucibus, ligula ac tempus fringilla, risus eros tincidunt tortor, a mollis tortor felis at massa. </p>
    </div>
  </body>
</html>
