<head>
  <title> Wall Login and Registration</title>
</head>
<body>
  {{ all_users }}
  <h1> Register For The Wall!!</h1>
  <form id = 'registration' action = '/registration' method = 'post'>
    <label for= 'first'> First Name:<input type = 'text' name = 'first' id = 'first'</label>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
      {% if category == 'first_name' %}
        <p>{{message}}</p>
      {% endif%}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <label for= 'last'> Last Name:<input type = 'text' name = 'last' id = 'last'></label>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
      {% if category == 'last_name' %}
        <p>{{message}}</p>
      {% endif%}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <label for= 'username'> Username:<input type = 'text' name = 'username' id = 'username'></label>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
      {% if category == 'username' %}
        <p>{{message}}</p>
      {% endif%}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <label for = 'pass'> Password:<input type = 'text' name = 'pass' id = 'pass'></label>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
      {% if category == 'password' %}
        <p>{{message}}</p>
      {% endif%}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <label for = 'passcon'> Confirm Password<input tpye = 'text' name = 'passcon' id = 'passcon'></label>
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}
      {% if category == 'confirm_password' %}
        <p>{{message}}</p>
      {% endif%}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <input type="submit" value="Register">
  </form>
  <h2>Login</h2>
  <form id = 'login' action = '/login' method = 'post'>
    <label for= 'username_login'>Username:<input type = 'text' name = 'username_login' id = 'username_login'></label>
    <label for = 'password_login'>Password:<input type = 'text' name = 'password_login' id = 'password_login'></label>
    <input type="submit" value="Login">
    {{ login_error }}
  </form>
</body>
