<head>
  {% load staticfiles %}
  <link rel = 'stylesheet' href = '{% static "index_css.css" %}'>
</head>
<body>
  <table>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  {% for product in products %}
  <tr>
    <th>{{ product.name }}</th>
    <th>{{ product.description }}</th>
    <th>{{ product.price }}</th>
    <th><form action = 'products/show/{{ product.id }}' method = 'post'>
      <input type = 'submit' value = 'Show'>
      {% csrf_token %}
    </form></th>
    <th><form action = 'products/edit/{{ product.id }}' method = 'post'>
      <input type = 'submit' value = 'Edit'>
      {% csrf_token %}
    </form></th>
    <th><form action = 'products/destroy/{{ product.id }}' method = 'post'>
      <input type = 'submit' value = 'Remove'>
      {% csrf_token %}
    </form></th>
  </tr>
  <table>
  {% endfor %}

  <form action = '/products/new' method = 'post'>
    {% csrf_token %}
    <input type = 'submit' value = 'Add a new Product'>
  </form>
</body>
